---
import ConnectWallet from "../components/ConnectWallet.jsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>MetaMask with Astro + viem</title>
  </head>
  <body>
    <h1>Connect Wallet</h1>
    <ConnectWallet client:load />
  </body>
</html>
